body, html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(108, 194, 108);
    color: green;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    border: 33px solid green;
    border-radius: 10px;
    background-color: whitesmoke;
}

.grid-box {
    border: 1px solid black;
    flex-basis: calc(100% / 27);
    height: calc(100% /27);
    box-sizing: border-box;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green; 
    color: white;
    border-color: white;
}